<li id="micropost-<%= question.id %>">
  <span class="content question">
    <em><%= question.content %><br/></em>
  </span>
  <% if logged_in? %>
    <%= link_to "Responder", new_answer_path(id: question.id) %>
  <% end %>
  <% if question.answers.any? %>
    <ul class="microposts">
      <%= render question.answers %>
    </ul>
  <% end %>
  <span class="timestamp">
  <% if !current_user.nil? %>
    <% if current_user.admin? %>
      <%= link_to "Eliminar", publication, method: :delete,
                                     data: { confirm: "¿Seguro?" } %>
    <% end %>
  <% end %>
  </span>
</li>