<% provide(:title, 'Editar usuario') %>
<h1>Editar datos</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :usuario %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :historia %>
      <%= f.text_field :history, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmacion" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= icon_for(@user, 50) %>
      Selecciona tu nueva imagen
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>

      <%= f.submit "Actualizar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>