<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= icon_for(@user) %>
        <%= @user.name %> <br/>
      </h1>
      <h5>
        <%= @user.zone %> <br/>
        <% if logged_in? %>
        <%= link_to "Editar", edit_user_path %>
        <% end %>
      </h5>
    </section>
    <div>
      <strong>Historia:</strong><br />
      <%= @user.history %>
    </div>
  </aside>
  <div class="col-md-8">
    <% if @publications.any? %>
      <ol class="microposts">
        <%= render @publications %>
      </ol>
      <%= will_paginate @publications %>
    <% end %>
  </div>
</div> 	