<%= form_for(@pardon) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Pido perdon por..." %>
    <%= f.hidden_field :kind, :value => "1" %>
  </div>
  <%= f.submit "Pedir perdon", class: "btn btn-primary" %>
<% end %>
