<%= form_for(@question) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :correo %>
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.label :pregunta %>
    <%= f.text_area :content, placeholder: "Comente su caso aqui...", class: 'form-control' %>
    <%= f.label :zona %>
    <%= f.select :zone, options_for_select([["Norte", "NORTE"], ["Sur", "SUR"], ["Oriente", "ORIENTE"], ["Occidente", "OCCIDENTE"]]) %>
    <%= f.label :año %>
    <%= f.number_field :year, class: 'form-control' %>
  </div>
  <%= f.submit "Preguntar", class: "btn btn-primary" %>
<% end %>